<form
  nz-form
  [formGroup]="inputForm"
  (ngSubmit)="submitForm()"
  nzLayout="horizontal"
>
  <nz-form-item nzFlex>
    <nz-form-control nzErrorTip="That's very thoughtful of you!">
      <nz-input-group>
        <input
          type="text"
          #input
          nz-input
          formControlName="content"
          placeholder="What have you done"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>

<nz-table #basicTable [nzData]="timespans">
  <thead>
    <tr>
      <th>Date</th>
      <th>Span</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td>{{ data.date | date: 'HH:mm:ss' }}</td>
      <td>{{ data.span | span }}</td>
      <td>
        <p
          style="display: inline"
          nz-typography
          nzEditable
          [nzContent]="data.content"
          (nzContentChange)="contentChange($event, data, i)"
        ></p>
        <p
          style="display: inline"
          nz-typography
          nzEditable
          nzEditIcon="comment"
          nzEditTooltip="评论"
          (nzContentChange)="comment($event, data.id, i)"
        ></p>

        <p *ngIf="data.comments && data.comments.length > 0"></p>
        <span *ngFor="let comment of data.comments; let commentIndex = index">
          <p
            style="display: inline"
            nz-typography
            nzEditable
            [nzContent]="comment.body"
            (nzContentChange)="
              commentChange($event, comment.id, i, commentIndex)
            "
          ></p>
        </span>

        <!-- <nz-divider nzType="vertical"></nz-divider>
        <a>Action</a> -->
      </td>
    </tr>
  </tbody>
</nz-table>
